/*
  Theme colors
    All selectors with colors that would need
    to be changed for theme changes
*/

/*
  COLORS

  Sky
    rgb(52, 152, 219)

  Dark Blue
    rgb(44, 62, 80)

  Grey
    rgb(127, 140, 141)

  Cloud
    rgb(236, 240, 241)
*/

#certlist li {
  list-style-type: none;
  margin-left: 25px;
  
}

img, ul{
  padding:0; 
  margin:0;
  
}

.background--skyBlue {
  background-color: rgb(52, 152, 219);
}

.color--skyBlue {
  color: rgb(52, 152, 219);
}

.color--cloud {
  color: rgb(236, 240, 241);
}

.color--grey {
  color: rgb(127, 140, 141);
}

.color--darkgrey {
  color: rgb(44, 62, 80);
}

.section__example {
  background-color: rgb(44, 62, 80);
}

/*
  General Styles
    These are styles to be inherited
    through parent containers
*/

html {
  font-size: 62.5%;
}

body {
  font-family: 'Cardo', serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
}

/*
  Helpers
*/

.margin--none {
  margin: 0;
}

.overflow--auto {
  overflow: auto;
}




/*
  Sections
*/

.section {
  font-size: 4.2rem;
  min-height: 40vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.codesection {
  font-size: 4.2rem;
  width: 100vw;
  min-height: 25vh;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section--alignCentered {
  text-align: center;
}

.section--description {
  font-size: 2.8rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.section--code {
  font-size: 2.0rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.section__description {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
}

.section__text--centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__exampleWrapper,
.section__example {
  display: inline-block;
  height: 35rem;
  width: 35rem;
}

.section__exampleWrapper {
  margin-right: 4rem;
}

.section__example {
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.section__example:active {
  transition: 0.05s all;
  width: 34rem;
  height: 34rem;
}

.section__exampleTitle{
  font-size: 3.4rem;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.section__exampleImage {
  opacity: 0.25;
  width: 250%;
  margin-left: -50%;
  margin-top: -50%;
}

/*
  Header
*/

.section__heading--largest {
  float: left;
  font-size: 5rem;
  margin-left: 2rem;
}

.section--social {
  float: right;
  line-height: 10rem;
  margin-right: 2rem;
}

.social {
  margin-right: 0.75rem;
}

.socialWrapper:last-child .social {
  margin-right: 0;
}

.socialWrapper {
  display: inline-block;
  font-size: 3rem;
}


.cert {
  float: left;
  font-size: 3rem;
 
}

.section--cert {
  float: left;
  line-height: 10rem;
  margin-left: 2rem;
}

.certtest {
  
  font-size: 3rem;
  
}

/*
  Modal
*/

.modal--closed {
  display: none;
}

.modal--open {
  
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  
  z-index: 100;
}

.modal__closeButton {
  position: absolute;
  right: 2rem;
  top: 5rem;
  font-size: 4rem;
  z-index: 1;
  cursor: pointer;
}

.modal__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.4rem;
  padding: 2rem;
  width: 66%;
}

.modal__link {
  background-color: white;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.modal__image {
  opacity: 0.2;
}

/*
Code
*/

.window {
  margin:60px;
  -webkit-box-shadow:0 1px 4px rgba(0,0,0,.25);
  -moz-box-shadow:0 1px 4px rgba(0,0,0,.25);
  box-shadow:0 1px 4px rgba(0,0,0,.25);
  border-radius:4px;
}
.window label {
  border:1px #a8a8a8 solid;
  border-top:1px #b0b0b0 solid;
  background-color: #444444;
  background-image:-webkit-linear-gradient(top, #E5E5E5, #AEAEAE);
  background-image:-moz-linear-gradient(top, #E5E5E5, #AEAEAE);
  background-image:-ms-linear-gradient(top, #E5E5E5, #AEAEAE);
  background-image:-o-linear-gradient(top, #E5E5E5, #AEAEAE);
  background-image:linear-gradient(to bottom, #E5E5E5, #AEAEAE);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#E5E5E5', EndColorStr='#AEAEAE');
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow:inset 0 1px 0 #f2f2f2;    
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  font-size:13px;
  margin:0;
  padding:3px 0;
  display:block;
  text-align:center;
  color:#464646;
  text-shadow:0 1px 0 rgba(255,255,255,.75);
}
pre {
  white-space: pre-wrap;
  background:#1a1a1a;
  display:block;
  margin:0;
  padding:12px 15px;
  color:#E8E8E7;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size:12px;
  font-family:droid-sans-mono, monospace;
  text-shadow:0 1px 0 #000;
  overflow-x:scroll;
  overflow-y:scroll;
  height: 700px;
  width: 700px;
}